<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>Add A New Book</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required> <br><br>

        <label for="authors">Authors:</label><br>
        <input type="text" id="authors" name="authors" required> <br><br>

        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" required> <br><br>

        <label for="publisher">Publisher:</label><br>
        <input type="text" id="publisher" name="publisher" required> <br><br>

        <label for="num_pages">Number Of Pages:</label><br>
        <input type="number" id="num_pages" name="num_pages" required> <br><br>

        <label for="stock">Stock Availabilty:</label><br>
        <input type="number" id="stock" name="stock" required> <br><br>

        <button type="submit">Add Book</button>

    </form>
    <br>
    <a href="{% url 'book_list' %}">Back To Book List</a>
</body>
</html>