<!-- <h1>Book List</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Library</title>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publisher</th>
                <th>Pages</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.num_pages}}</td>
                <td>{{book.stock}}</td>
            </tr>
            {% empty %}
            <tr>
                <td>No Books Found. </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'add_book'  %}">Add Book</a>
    <a href="{% url 'import_books'  %}">Import Books</a>

    
</body>
</html>